.product-card-wrapper {
  border: 2px solid $secondary;
  background-color: $primary;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 40vw;
  margin-bottom: 50px;
  min-width: 300px;

  img {
    border-radius: 3px;
    min-width: 200px;
    max-width: 300px;
  }

  .product-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    .product-card-buttons {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;

      a {
        @include link-secondary;
      }
    }
  }
}

.add-to-cart-wrapper {
  a {
    @include link-secondary;
  }
}

@media screen and (max-width: 1180px) {
  .product-card-wrapper {
    flex-wrap: wrap;
  }
}

.App.dark-mode {
  .product-card-wrapper {
    @include dark-card;

    .product-card-content {
      .product-card-buttons {
        a {
          @include dark-link-secondary;
        }
      }
    }
  }
  .add-to-cart-wrapper {
    a {
      @include dark-link-secondary;
    }
  }
}
