.product-card-wrapper {
  border: 2px solid orange;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 40vw;
  margin: 50px;
  min-width: 500px;
  // max-width: 800px;

  img {
    border: 1px solid red;
    width: 300px;
  }

  .product-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  .product-card-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
