.product-card-wrapper {
  border: 2px solid $secondary;
  background-color: $primary;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 40vw;
  margin-bottom: 50px;
  min-width: 300px;

  img {
    border-radius: 3px;
    min-width: 200px;
    max-width: 300px;
  }

  .product-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    .product-card-buttons {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;

      a {
        color: rgb(65, 65, 255);

        &:hover {
          color: rgb(186, 0, 0);
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .product-card-wrapper {
    flex-wrap: wrap;
  }
}
