body {
  margin: 0px;
  color: rgb(0, 27, 108);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-card-wrapper {
  display: flex;

  img {
    height: 100px;
  }
}
